body{
	background-color: rgb(0,0,0);
	background-image: url("Images/reclaimearth.png");
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-position: center top; 
  	background-size: 50%;
  	font-family: TeenageAngst;
  	font-size: 25px;
  	color: rgb(0, 0, 0);
  	height: 100vh;
  	width: 100%;
}

@font-face {
    font-family: CantikaCute;
    src: url("CantikaCute.otf") format("opentype");
}

@font-face {
    font-family: TeenageAngst;
    src: url("TeenageAngst.TTF") format("opentype");
}

#login{
	position: absolute;
	left: 41%;
	bottom: 5%;
	padding: 3% 9%;
	border-style: none;
	background-color: rgba(0,0,0,0);
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url("Images/login_button.png")
}

#login:hover {
	cursor: pointer;
}

#map {
   	height: 100%;
   	width: 100%;
 }
 
 #ping{
 	position: absolute;
	padding: 3% 6%;
	bottom: 3%;
	left: 44%;
	border-style: none;
	background-color: rgba(0,0,0,0);
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url("Images/ping_button.png")
}
 
 #profileButton{
 	position: absolute;
 	top: 1%;
 	left: 1%;
 	width: 200px;
 	margin-left: 3%;
 	margin-top: 3%;
 }