<!DOCTYPE html>
<html>
<head>
	<title>ReclaimEarth</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='Images/clean_button.ico') }}">

	<meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="876422418130-atpik8jvn83t8bgnr8j14aj8pbcjp51t.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/api:client.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
	<center>
		<div id="login" class="customGPlusSignIn" data-onsuccess="onSignIn">
	    </div>
	    <script src="{{ url_for('static', filename='google.js') }}">
	    </script>
	    <script>startApp();</script>
	</center>
</body>
</html>