<!DOCTYPE html>
<html>
<head>
	<title>ReclaimEarth | Map</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='Images/clean_button.ico') }}">
</head>
<body>
	<div id="map"></div>
	<button type="button" class="btn btn-info" id="profileButton" data-toggle="modal" data-target="#profileModal">Profile</button>
	<button type="button" id="ping" data-toggle="modal" data-target="#myModal"></button>
	<div id="hidden">
		<h6 id="email">{{email}}</h6>
		<h6 id="id">{{id_token}}</h6>
	</div>
			
	<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	      	<h1 class="col-12 modal-title text-center"><strong>Add a Ping!</strong></h1>
	      </div>
	      <div class="modal-body">
	      	<center>
		      	<h3>Intensity</h3>
		      	<div>
			      	<label class="radio-inline"><input type="radio" name="intensity" value="1" checked>1</label>
					<label class="radio-inline"><input type="radio" name="intensity" value="2">2</label>
					<label class="radio-inline"><input type="radio" name="intensity" value="3">3</label>
					<label class="radio-inline"><input type="radio" name="intensity" value="4">4</label>
					<label class="radio-inline"><input type="radio" name="intensity" value="5">5</label>
				</div><br>
				<h3>Description</h3>
				<input class="form-control" type="text" placeholder="Description" name="description" id="description"><br>
				<h3>Upload Image</h3>
	        	<input type="file" onchange="previewFile('imagePreview', 'imageUpload')" id="imageUpload" name="file"><br><br>
				<img src="" height="200" alt="" id="imagePreview">
			</center>
	      </div>
	      <div class="modal-footer">
	      	<button type="button" class="btn btn-success mr-auto" id="uploadButton" data-dismiss="modal">Upload!</button>
     		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>	
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Modal -->
  <div class="modal fade" id="previewModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
		    <h1 class="col-12 modal-title text-center"><strong>Site View!</strong></h1>
        </div>
        <div class="modal-body">
        	<center>
        		<img src="" width="100%" alt="" id="previewModalImg">
        	</center>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  	<!-- Modal -->
  <div class="modal fade" id="cleanModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
		    <h1 class="col-12 modal-title text-center"><strong>Thank You for Contributing!</strong></h1>
        </div>
        <div class="modal-body">
        	<center>
        		<h3>Did You Finish?</h3>
        		<div>
			      	<label class="radio-inline"><input type="radio" name="yesorno" value="Yes" checked>Yes</label>
					<label class="radio-inline"><input type="radio" name="yesorno" value="No">No</label>
        		</div><br>
        		<h3>Comments</h3>
        		<div><input class="form-control" type="text" placeholder="Comments" name="comments" id="comments"><br></div>
        		<h3>Upload Image</h3>
        		<input type="file" onchange="previewFile('imagePreviewSend', 'imageSend')" id="imageSend" name="file"><br><br>
				<img src="" height="200" alt="" id="imagePreviewSend">
        	</center>
        </div>
        <div class="modal-footer">
	        <button type="button" class="btn btn-success mr-auto" id="sendButton" data-dismiss="modal">Send!</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="profileModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
		    <h1 class="col-12 modal-title text-center"><strong>User Profile</strong></h1>
        </div>
        <div class="modal-body">
        	<center>
        		<h3>User Name Here</h3><br>
        		<h3>Points Here</h3><br>
        	</center>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!--initialize scripts-->
	<script src="https://www.gstatic.com/firebasejs/5.10.1/firebase.js"></script>
    <script src="{{ url_for('static', filename='gmaps.js') }}"></script>
    <script src="{{url_for('static', filename='pingCreation.js')}}"></script>
    <script src = "{{ url_for('static', filename='code.js') }}"></script>
    <script src = "{{ url_for('static', filename='profileButton.js') }}"></script>

    <!--adding firestore and apis used-->
    <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-firestore.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPTeo40SMA4NsakkqwHTQQ15YXEOx-Dqc&callback=initMap">
    </script>
</body>
</html>